.border {
  width: 480px;
  max-width: 480px;
  background-color: #795548;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0px 2px 4px rgba(12, 12, 12, 0.3), 0px -2px 3px rgba(12, 12, 12, 0.25);
}

.field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .border {
    width: 86%;
    padding: .6em;
  }
}
