.border {
  position: relative;
  width: 480px;
  max-width: 480px;
  background-color: #795548;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 0px 2px 4px rgba(12, 12, 12, 0.3), 0px -2px 3px rgba(12, 12, 12, 0.25);
}

.field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .border {
    width: 86%;
    padding: .6em;
  }
}

.log {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFEB3B;
  animation: log-animate 1.2s ease-out;
  opacity: 0;
}


@keyframes log-animate {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-36px);
  }
}
