.title {
  font-size: 6em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px 0px #ffd8ae;
  transform: rotate(-2deg);
  color: #c8ffc8;
  font-weight: 900;
}

.simple {
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.end {
  color: #ffda44;
}

@media (max-width: 700px) {
  .title {
    font-size: 3.75em;
  }
}
