html {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 1em;
  color: #ffffd5;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(270deg, #885b86, #587f92);
  background-size: 200% 200%;
  animation: wave 7s ease infinite;
}

@media (max-width: 700px) {
  html {
    font-size: calc(1em + .007*(100vw - 700px));
  }
}

body {
  margin: 0;
}

@keyframes wave { 
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
